POSTGRES_DB=shared-lib
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

APP_CLIENT_CREDENTIAL_ENCRYPTION_KEY=vdt-local-container-secret

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=vdt-shared-lib
KEYCLOAK_CLIENT_ID=fe-app
KIBANA_DASHBOARD_URL=http://localhost:5601
