POSTGRES_DB=shared-lib
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/shared-lib

KEYCLOAK_ADMIN=change-me
KEYCLOAK_ADMIN_PASSWORD=change-me

APP_CLIENT_CREDENTIAL_ENCRYPTION_KEY=change-me
